<button type="button" data-ng-click="showAddModalEvent()">Создать новый пост</button>
<ul>
  <li data-ng-repeat="x in posts">
    <p>{{x.title}}</p>
    <p>{{x.author}}</p>
    <p>{{x.content}}</p>
    <p>{{x.date}}</p>
    <button type="button" data-ng-click="deletePost(x._id)">Удалить</button>
    <button type="button" data-ng-click="showEditModalEvent(x)">Редактировать</button>
    <button type="button">Подробнее...</button>
    <hr>
  </li>
</ul>

<!-- ADD MODAL -->
<div id="myModal" class="modal" data-ng-if="showAddModal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" data-ng-click="closeAddModalEvent()">&times;</span>
      <h2>Modal Header</h2>
    </div>
    <div class="modal-body">
      <input type="text" placeholder="Введите название" data-ng-model="title">
      <input type="text" placeholder="Введите автора" data-ng-model="author">
      <textarea placeholder="Введите контент" data-ng-model="content"></textarea>
    </div>
    <div class="modal-footer">
      <button type="button" data-ng-click="addNewPost(title, author, content)">Добавить</button>
      <button type="button" data-ng-click="closeAddModalEvent()">Отмена</button>
    </div>
  </div>

</div>


<!-- EDIT MODAL -->
<div class="modal" data-ng-if="showEditModal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" data-ng-click="closeEditModalEvent()">&times;</span>
      <h2>Редактировать пост {{selectedPostTitle}}</h2>
    </div>
    <div class="modal-body">
      <input type="text" placeholder="Введите название" data-ng-model="selectedPost.title">
      <input type="text" placeholder="Введите автора" data-ng-model="selectedPost.author">
      <textarea placeholder="Введите контент" data-ng-model="selectedPost.content"></textarea>
    </div>
    <div class="modal-footer">
      <button type="button" data-ng-click="editPost(selectedPost._id, selectedPost.title, selectedPost.author, selectedPost.content)">
        Добавить
      </button>
      <button type="button" data-ng-click="closeEditModalEvent()">Отмена</button>
    </div>
  </div>

</div>