<button type="button" data-ng-click="showAddModalEvent()">Создать новый пост</button>
<ul>
  <li data-ng-repeat="x in posts">
    <p>{{x.title}}</p>
    <p>{{x.author}}</p>
    <p>{{x.content}}</p>
    <p>{{x.date}}</p>
    <hr>
  </li>
</ul>

<!-- The Modal -->
<div id="myModal" class="modal" data-ng-if="showAddModal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Modal Header</h2>
    </div>
    <div class="modal-body">
      <!--TITLE INPUT-->
      <!--AUTHOR INPUT-->
      <!--CONTENT TEXTAREA-->
    </div>
    <div class="modal-footer">
      <!--BUTTON SAVE-->
      <!--BUTTON CLOSE-->
    </div>
  </div>

</div>
