<nav>
  <a ui-sref="index" class="logo-link"><img src="/resources/img/blog-icon.png" id="logo"></a>
  <ul class="nav">
    <li class="nav-item" ui-sref="index" ui-sref-active="active">
      <a class="nav-link" href="#">Главная страница</a>
    </li>
    <li class="nav-item" ui-sref="login" data-ng-if="!$root.authenticated" ui-sref-active="active">
      <a class="nav-link" href="#">Войти</a>
    </li>
    <li class="nav-item" data-ng-if="!$root.authenticated" ui-sref-active="active">
      <a class="nav-link" href="#">Зарегестироваться</a>
    </li>
    <li class="nav-item" ui-sref="profile" data-ng-if="$root.authenticated" ui-sref-active="active">
      <a class="nav-link" href="#">Профиль</a>
    </li>
    <li class="nav-item" data-ng-if="$root.authenticated" data-ng-click="logout()" ui-sref-active="active">
      <a class="nav-link" href="#">Выйти</a>
    </li>
  </ul>

  <input type="text" data-ng-model="searchText">
  <button type="button" data-ng-click="search(searchText)" class="btn btn-primary">Поиск</button>
</nav>
